<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:700');

  body {
    margin:0px;
    font-family:'Roboto';
    text-align:center;
  }

  #container {
    color:#999;
    text-transform: uppercase;
    font-size:36px;
    /*font-weight:bold;*/
    /*padding-top:200px;*/
    position:relative;
    width:100%;
    bottom:45%;
    display:block;
    margin-top: 100px;

  }

  #flip {
    height:50px;
    overflow:hidden;
  }

  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }

  #flip div:first-child {
    animation: show 5s linear infinite;
  }

  #flip div div {
    background:#42c58a;
  }
  #flip div:first-child div {
    background:#4ec7f3;
  }
  #flip div:last-child div {
    background:#DC143C;
  }

  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }

  /*p {*/
  /*  position:fixed;*/
  /*  width:100%;*/
  /*  bottom:30px;*/
  /*  font-size:12px;*/
  /*  color:#999;*/
  /*  margin-top:200px;*/
  /*}*/
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
    #demo{
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
</style>

  <div id=container>
    Make
    <div id=flip>
      <div><div>wOrK</div></div>
      <div><div>lifeStyle</div></div>
      <div><div>Everything</div></div>
    </div>
    AweSoMe!
  </div>

<hr>

  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/adi-goldstein-mDinBvq1Sfg-unsplash.jpg" alt="Los Angeles" width="800" height="400">
        <div class="carousel-caption">
          <h3>I'm</h3>

        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/anas-alshanti-feXpdV001o4-unsplash.jpg" alt="Chicago" width="800" height="400">
        <div class="carousel-caption">
          <h3>a</h3>

        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/jacco-rienks-g4VeuOciK00-unsplash.jpg" alt="New York" width="800" height="400">
        <div class="carousel-caption">
          <h3>Developer</h3>

        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
<br><br>


