<%# Rails flash messages styled for Bootstrap 3.0 %>
<div class="message">
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-dismissible alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
</div>
<style>
  .message{
    margin-top:50px;
    margin-bottom: 0;
  }
    .alert{
      margin-bottom: 0;
    }
</style>
<script>
    window.setTimeout(function() {
        $(".message").fadeTo(100, 0).slideUp(100, function(){
            $(this).remove();
        });
    }, 5000);
</script>